body{background-image:url(tlo.jpg);background-attachment:fixed;background-repeat:no-repeat;width:90%;margin:auto;min-width:600px;max-width:2000px}
#strona{height:100%;width:60%;position:absolute;left:20%;top:0;padding:0;border:5px solid #000;background-color:#fff}
.baner{background-color:#fff;width:100%;height:8%;position:relative;top:-2%;border-bottom:5px solid #000}
.logo{height:20%;width:30%;margin-left:35%;margin-right:35%}
ul{margin:0;padding:0;list-style:none;width:100%;position:relative;top:-25px;font-weight:900;font-family:sans-serif}
ul>li{float:left;width:14.28%;position:relative;left:0}
ul>li>a{text-decoration:none;color:#000;display:block;text-align:center;background-color:#fafad2;border:1px solid #000;border-bottom:5px solid #000;border-top:5px solid #000;padding:5px}
ul>li:hover>a{color:#fff;background-color:#1e90ff;border-style:inset;padding:7px 3px 3px 7px}
h1{text-align:center;font-family:sans-serif;color:#00008b;font-size:50px;font-weight:900}
p{text-align:justify;margin:20px;font-family:sans-serif;color:#000;font-size:17px;font-weight:600}
#podpis{height:70px;width:auto;float:right}
footer{position:absolute;bottom:0;width:100%;height:auto;background-color:#fbe7cd;border-top:5px solid #000}
footer>p{color:#ff8c00;text-align:center;font-family:sans-serif;font-size:20px;float:inherit;position:relative;bottom:20px}
.socialmedia{float:inherit;width:40px;height:40px;margin-left:5px;position:relative;top:10px}
.tlo2{width: 100%;height: auto;position: relative;top: -25px;clear: both;margin-top: 20px;border-top: 5px solid black;}
